// COLORS
$color-primary: #6d77fe;

$color-secondary: #25233c;

$color-grey-light-1: #f9f9ff;
$color-grey-light-2: #e1e1e7;
$color-grey-light-3: #f4f5f7;
$color-grey-light-4: #eef1f6;

$color-white: #fff;
$color-black: #000;

$color-hint: #c6c6ce;

$color-popup-overlay: #25233c50;

// FONT
$default-font-size: 1.6rem;

// BORDER
$border-color: rgba(0, 0, 0, 0.05);
$border-primary: 0.5px solid $border-color;
$border-radius: 0.8rem;

// FONT
$primary_font_family: "Inter", sans-serif;
